<header class="header">
    <div class="header_logocontainer">
        {% load static %}
        <a href="/"><img src="{% static 'images/auth/logo.svg' %}" alt="" style="width: 110px; height: auto;"></a>
        <!-- <h1>Билеты.ру</h1> -->
    </div>


    <div class="header_profilecontainer">
        <a class="profile" href="/profile"><img src="{% static 'images/header/profile.svg' %}"></a>
        <a class="logout" href="/logout"><img src="{% static 'images/header/sign-out.svg' %}"></a>
    </div>

</header>