{% extends 'base.html' %}
{% block content %}

{% include 'header.html' %}
<div style="margin: auto; width: 60%; margin-top: 100px;">
    <h1>Оферта</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac turpis a dui vulputate lobortis ac quis
        massa.
        Fusce commodo, ante placerat ornare efficitur, justo eros eleifend massa, et euismod augue nisi in augue. Ut
        ullamcorper velit nibh, ac porta elit aliquet at. Pellentesque rutrum lectus sed risus maximus, non eleifend
        quam
        accumsan. Duis maximus sapien quis imperdiet convallis. Nulla eget justo metus. Pellentesque a hendrerit est.
        Nulla
        ultrices tellus aliquet metus volutpat lacinia.
    </p>
    <br>

    <p>Fusce accumsan quam id velit pretium aliquet. Phasellus pharetra vel ante varius malesuada. Cras scelerisque at
        mauris at gravida. Nullam sit amet lobortis elit. Donec non augue non libero posuere mattis. Nunc non metus eu
        lacus
        viverra convallis eget in nulla. Mauris id interdum mi. Suspendisse tristique quam et tincidunt tincidunt. Morbi
        ut
        metus ante.
    </p>
    <br>

    <p>Nam dignissim nunc justo, vel consequat metus ultrices sed. Vestibulum non augue efficitur, finibus quam
        fermentum,
        volutpat diam. Donec tempus, velit consequat ultricies lacinia, ligula sem elementum tortor, et congue velit
        mauris
        porta metus. Donec lacinia eget arcu quis faucibus. Sed vestibulum risus eu mauris gravida molestie. Nullam at
        mattis orci, in laoreet diam. Aliquam facilisis faucibus arcu sed viverra. Aliquam sit amet leo in dui vulputate
        semper. Nunc ultrices, dui quis tincidunt consequat, nibh sapien feugiat mi, vitae iaculis purus ligula non
        libero.
        Sed eleifend elit ex, at porta ipsum commodo eu. Suspendisse semper dui eget vestibulum scelerisque.
    </p>
    <br>

    <p>
        Maecenas ut arcu quis nunc dapibus commodo. Fusce ac dolor id diam aliquet gravida in sed odio. Duis facilisis
        dui
        id nibh fringilla tincidunt. Cras est purus, iaculis a malesuada ac, sagittis a purus. Sed ultricies sapien quis
        condimentum ornare. Nunc tempus, risus ut pellentesque volutpat, neque tortor elementum est, vel tincidunt magna
        dui
        in felis. Fusce varius dapibus velit, id consequat nunc cursus non. Mauris vestibulum libero ac nisi imperdiet
        mollis. Suspendisse interdum auctor urna, nec sollicitudin dui aliquet a.
    </p>
    <br>

    <p>
        Praesent tristique ex ipsum, nec porttitor lectus interdum at. Fusce maximus ornare venenatis. Nullam bibendum
        dolor
        dapibus ante condimentum sollicitudin. Fusce ornare porta libero at efficitur. Nam quis nisi porttitor,
        venenatis
        felis sit amet, sagittis metus. Nulla vehicula faucibus lectus a accumsan. Suspendisse maximus, nibh ac
        venenatis
        dignissim, magna urna ornare massa, quis tempus ligula mi eu ligula. Ut urna augue, molestie in magna at,
        tincidunt
        vestibulum turpis. Sed ac scelerisque tortor. Aenean at arcu nunc. Curabitur porta eros nec neque porttitor, nec
        pulvinar turpis iaculis. Pellentesque dictum est nec ante pharetra, eu lacinia arcu viverra. Morbi est odio,
        dictum
        pulvinar pellentesque vestibulum, finibus ac libero.
    </p>
</div>
{% endblock %}