{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% include 'logo_title.html' %}
    <img id="background_image">
    <div class="container_auth">
        
        <h2 class="sign_up_title">Установите пароль</h2>
        <form class="set_password_registration" method="post" autocomplete="off">
            {% csrf_token %}
            <!-- {{ form.new_password1 }} -->
            <div class="flexcontainer">
                <input type="text" name="new_password1" class="password_input" placeholder="Пароль" required="" id="id_new_password1">
                {{ form.new_password1.errors }}
                <button type="submit" class="" disabled>УСТАНОВИТЬ ПАРОЛЬ</button>
            </div>
            
        </form>
        <div class="setpassword_container">
            <div class="item capital">Пароль содержит хотя бы 1 прописную букву (A-Z) </div>
            <div class="item lowercase">Пароль содержит хотя бы 1 строчную букву (a-z) </div>
            <div class="item number">Пароль содержит хотя бы 1 цифру (0-9)</div>
            <div class="item length">Пароль содержит 8 и более символов</div>
        </div>
    </div>
</div>
{% load static %}
<script src="{% static 'js/password_requirements.js' %}" type="text/javascript"></script>

{% endblock %}

