{% extends 'base.html' %}

{% block content %}
{% include 'header.html' %}
<div class="container">

    <h2>{{label}}</h2>
    <form class="route_edit_form" method="post">
        {% csrf_token %}

        <div class="flex_container">

            <div class="form_item_container">
                <p class="input_info">ID маршрута</p>
                {{ form.name }}
                {{ form.name.errors }}
                
            </div>

            <div class="form_item_container">
                <p class="input_info">Остановки</p>
                {{ form.stops }}
                {{ form.name.errors }}
            </div>
        </div>

        <button type="submit">Сохранить</button>
    </form>

    <p class="route_edit_important_note"><b>Важно!</b> Если вы захотите поменять уже согласованный маршрут - новый маршрут будет должен пройти модерацию
        у администраторов сервиса.</p>
    <a class="back_btn" href="/my-routes">Назад</a>
</div>
{% endblock %}